* {
  margin: 0;
  padding: 0;
}
.group {
  text-align: center; /*ppur center le contenu (text et image)*/
  width: 80%;
  margin: 0 auto; /*pour center la zone (block)*/
  padding: 5px;
}

.table {
  border: 1px solid black;
  width: 80%;
  margin: auto;
}

.table thead th {
  background: black;
  color: white;
  padding: 5px;
}
.table tbody td {
  border-bottom: 1px solid black;
  padding: 5px;
}
.table tfoot td {
  background: #f5f5f7;
  padding: 5px;
  text-align: right;
  color: rgba(39, 39, 219, 0.822);
}
.centrer {
  margin: auto;
  width: 90%;
}
.div_impression {
  text-align: center;

  margin: 10px auto;
  width: 50%;
  padding: 10px;
}

.div_impression button {
  background: deepskyblue;
  color: white;
  font-size: 1.2em;
  padding: 4px;
  width: 200px;
}

@media print {
  .group,
  button {
    display: none;
  }
  input,
  textarea {
    border: none;
  }
  html,
  body {
    padding-top: 5mm;
    width: 210mm;
    height: 297mm;
  }
}
